<html>
	<head>
		<title>Ng Table Directive Demo by Prit</title>
		<!-- include angular -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
		<!-- include ng-table directive -->
		<link rel="stylesheet" href="https://cdn.rawgit.com/esvit/ng-table/1.0.0/dist/ng-table.min.css">
		<script src="https://cdn.rawgit.com/esvit/ng-table/1.0.0/dist/ng-table.js"></script>
	</head>
	<body>
		<script>
			// create angular application
			var app = angular.module("myApp", ["ngTable"]);
			
			app.controller('MyTestAppController', function($scope, NgTableParams){
				$scope.recordsList = [{ Name: "Pritam", SName: "Narkhede", DOB: "26-06-1991"},
									  { Name: "Hardik", SName: "Shah", DOB: "26-06-1991"},
									  { Name: "Amol", SName: "Kulthe", DOB: "26-06-1991"},
									  { Name: "Sagar", SName: "Pawal", DOB: "26-06-1991"}
									 ];
									 
				$scope.tableParams = new  NgTableParams({
												sorting: { Name: "asc" },
												count: 2
											}, {
											  dataset: $scope.recordsList,
											  paginationMaxBlocks: 4,
											  paginationMinBlocks: 2,
											  counts:[]
											});
				
				$scope.delete = function(record){
					alert();
				}
				
				console.log($scope.tableParams);
				
			});
		</script>
		
		<div ng-app="myApp" ng-controller="MyTestAppController">
		<table ng-table="tableParams" class="table" >
			<tr ng-repeat="user in $data">
				<td title="'Name'"  sortable="'Name'" >
					<span ng-if="!user.isEditing" class="editable-text">{{user.Name}}</span>
					<div ng-if="user.isEditing" class="">
						<input type="text" ng-model="user.SName" />
					</div>
				</td>
				<td title="'Last Name'" sortable="'SName'" >
					<span ng-if="!user.isEditing" class="editable-text">{{user.SName}}</span>
					<div ng-if="user.isEditing" class="">
						<input type="text" ng-model="user.SName" />
					</div>
				</td>
				<td>
					<button class="btn btn-default btn-sm" ng-click="user.isEditing = true">Edit</button>
					<button class="btn btn-danger btn-sm" ng-click="delete(user)">Delete</button>
			  </td>
			</tr>
		</table>
		</div>
	</body>
</html>